<footer>
    <div class="container">
        <h2 class="title-lined"><span><i class="fa-solid fa-envelope"></i> Contacte </span></h2>
            <p>Pots contactar-nos enviant un correu electrònic a:<br> 
            <a href="mailto:info@blasthardrock.com" title="correu electrònic">info@blasthardrock.com</a></p>            
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="./index"><img src="./assets/images/logoblast.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbarToggler10"
                    aria-controls="myNavbarToggler10" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNavbarToggler10">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./index.html">Inici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./membres.html">Membres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./bio.html">Bio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./directes.html">Directes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav sm-icons mr-0">
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></li>                            
                    </ul>
                </div>
            </nav>
    </div>
</footer>